* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 375px;
  margin: 100px auto;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  color: #111517;
}

main {
  background-color: #fafafa;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 1rem;
  background-color: white;
  -webkit-box-shadow: 0px 10px 20px -20px #858585;
          box-shadow: 0px 10px 20px -20px #858585;
  z-index: 1;
}

.header__title {
  font-size: 20px;
  font-weight: 800;
}

.country-filter--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.icon {
  padding: 3rem;
  min-width: 50px;
  position: absolute;
  color: #858585;
}

.country-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.country-filter__country {
  max-width: 400px;
  width: 100%;
  height: 3.5rem;
  margin: 2rem 1rem;
  padding: 1.5rem 0 1.5rem 5rem;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 20px -10px #858585;
          box-shadow: 0px 0px 20px -10px #858585;
}

.country-filter__country::-webkit-input-placeholder {
  color: #858585;
}

.country-filter__country:-ms-input-placeholder {
  color: #858585;
}

.country-filter__country::-ms-input-placeholder {
  color: #858585;
}

.country-filter__country::placeholder {
  color: #858585;
}

.country-filter__region {
  width: 50%;
  max-width: 400px;
  height: 3.5rem;
  margin: 0 1rem 1rem;
  padding: 1rem;
  color: #111517;
  font-size: inherit;
  font-family: inherit;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 20px -10px #858585;
          box-shadow: 0px 0px 20px -10px #858585;
}

.country-filter__region option {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #111517;
  border-radius: 5px;
  border: none;
  font-size: inherit;
  font-family: inherit;
}

.countries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.country {
  height: 350px;
  width: 280px;
  background-color: white;
  margin: 2rem;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 30px -10px #858585;
          box-shadow: 0px 0px 30px -10px #858585;
}

.country__img {
  height: 150px;
  width: 280px;
  border-radius: 10px 10px 0 0;
}

.country__row {
  margin: 1rem;
}

.country__row--name {
  font-weight: 800;
}

.country__row span {
  font-weight: 600;
}
/*# sourceMappingURL=style.css.map */